@import './application.scss';

.navbar {
  background-color: $blue;
  height: $navbar-height;
  @extend %flex-vertical-center;
  flex-direction: row;

  h1 {
    height: 40px;
    width: 240px;
    font-size: $brand-size;
    font-weight: $title-weight;
    color: $pure-white;
    line-height: 100%;
    text-align: center;
  }

  .search-bar {
    margin-left: $search-bar-height;
    height: $search-bar-height;
    width: $search-bar-width;
    background-color: $pure-white;
    padding-left: 2 * $oneUnit;
    @extend %flex-vertical-center;
    border-radius: $border-radius-normal;

    input {
      @extend %child-full-size;
      font-size: 2 * $oneUnit;
      margin-left: $oneUnit;
      background-color: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }

    i,
    input::placeholder {
      color: $light-grey
    }
  }
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  background-color: #fff;

  .sidebar {
    width: $sidebar-width;
    min-width: $sidebar-width;
    background-color: #457b9d;
    height: 100%;

    .root-archive {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2 * $oneUnit;
      
      .archive-style {
        @extend %archive-style;
      }
      .create-new {
        i:first-child {
          font-size: 16px;
        }
      }
    }
  }

  .content {
    height: 100%;
    
  }
}