@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');

// color
$dark-grey: #666;
$light-grey: #aaa;
$dark-background: #444;
$font-white: #ddd;
$pure-white: #fff;
$footer-background: #20201a;
$font-dark: #222;
$font-original: #444;
$body-background: #e9ecef;
$light-blue: #a8dadc;
// main view
$blue: #01161e;
$archive-background: #124559;
$light-blue: #598392;
$body-background: #d8e2dc;

// font size
$brand-size: 28px;
$title-size: 18px;
$text-size: 16px;

// font-weight
$title-weight: 700;
$content-weight: 500;

// layout
$oneUnit: 12px;
$navbar-height: 100px;
$bar-height: 40px;
$search-bar-width: 500px;
$sidebar-width: 240px;
$archive-width: 200px;
$archive-height: 40px;

// box model
$border-radius-normal: 8px;
$border-radius-light: 4px;

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Taipei Sans TC','Montserrat', 'Noto Serif TC', sans-serif;
  color: #444;
}

html {
  height: 100vh;
  // min-width: 960px;
  min-width: 1200px;
  font-size: 16px;
  font-size: 36px;
  font-weight: normal;
  font-family: 'Taipei Sans TC','Montserrat', 'Noto Serif TC', sans-serif;
  line-height: 1.5;
  outline: none;
  box-sizing: border-box;
  // position: relative;
}

body {
  background-color: $body-background;
}

// extends
%flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-vertical-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%child-full-size {
  height: 100%;
  width: 100%;
}

%unselectable {
  -webkit-user-select: none; /* Chrome/Safari */ 
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* The rule below is not implemented in browsers yet */
  -o-user-select: none;
  /* The rule below is implemented in most browsers by now */
  user-select: none;
}

%archive-style {
  width: $archive-width;
  height: $archive-height;
  background-color: $pure-white;
  margin-bottom: 0.5 * $oneUnit;
  @extend %flex-vertical-center;
  position: relative;
  border-radius: $border-radius-normal;
  .icon {
    @extend %unselectable;
    width: 3 * $oneUnit;
    text-align: center;
    @extend %flex-all-center;
    height: 100%;

    &:hover {
      cursor: pointer;
    }

    i{
      height: 100%;
      width: 100%;
      line-height: $archive-height;
      font-size: $title-size;
    }
    &.none {
      display: none;
    }
  }

  p {
    @extend %unselectable;
    flex: 1;
    height: 100%;
    font-size: $title-size;
    line-height: $archive-height;
    overflow: hidden;
    vertical-align: middle;
    // margin-right: $oneUnit;
  }

  input {
    @extend p;
    height: 80%;
  }
  &.create-new:hover {
    cursor: pointer;
  }
}

%data-bar {
  width: 100%;
  background-color: $light-blue;
  height: $bar-height;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2 * $oneUnit;
  border-radius: $border-radius-light;
  .box {
    flex: 1;
    @extend %flex-all-center;
    height: 100%;
    width: 100%;
    min-width: 90px;
    font-size: $text-size;
    font-weight: 500;
    overflow: hidden;
    text-align: center;
    p {
      color:$pure-white;
    }
  }
  .title {
    @extend .box;
    flex: 3;
  }
  .icon {
    img {
      height: 80%;
      object-fit: cover;
    }
  }
  .tags {
    flex: 2;
  }
  .btn {
    button {
      width: 100%;
      height: 100%;
      border: none;
      color: $pure-white;
      background-color: transparent;
      font-size: $text-size;
      font-weight: 500;
      &:hover {
        cursor: pointer;
        color: $light-blue;
        background-color: #fff;
      }
    }
  }
}

%tab-style {
  @extend %data-bar;
  @extend %unselectable;
  background-color: $pure-white;
  margin: 12px 0;
  .box {
    p {
      color: $font-original;
    }
  }
  .title {
    flex: 3;

  }
  .btn {
    button {
      color: $font-original;
    }
  }
  &:hover {
    cursor: pointer;
  }
}