@import './application.scss';

.navbar {
  background-color: transparent;
  height: $navbar-height;
  @extend %flex-vertical-center;
  flex-direction: row;
  position: relative;

  h1 {
    background-color: $blue;
    height: 40px;
    width: 240px;
    font-size: $brand-size;
    font-weight: $title-weight;
    color: $pure-white;
    line-height: $navbar-height;
    height: 100%;
    text-align: center;
  }

  .search-bar {
    margin-left: 2 * $oneUnit;
    height: $bar-height;
    width: $search-bar-width;
    background-color: $pure-white;
    padding-left: 2 * $oneUnit;
    @extend %flex-vertical-center;
    border-radius: $border-radius-normal;

    input {
      @extend %child-full-size;
      font-size: 2 * $oneUnit;
      margin-left: $oneUnit;
      background-color: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }

    .search-icon {
      height: 100%;
      padding: 0 auto;
      @extend %flex-all-center;
      i {
        font-size: $title-size;
      }    
    }

    .search-icon,
    input::placeholder {
      color: $light-grey;
      background-color: $pure-white;
    }
  }

  .nav-btns {
    position: absolute;
    top: 50%;
    right: 2 * $oneUnit;
    transform: translateY(-50%);
    @extend %flex-all-center;

    .get-all-btn {
      color: $font-dark;
      height: $bar-height;
      width: 120px;
      border: none;
      background-color: $pure-white;
      border-radius: 8px;
      padding: 0 4px;
      font-size: $text-size;
      font-weight: $content-weight;

      &:hover {
        cursor: pointer;
      }
    }

    .get-data {
      @extend .get-all-btn;
      right: 12 * $oneUnit;
    }

    .clear-data {
      @extend .get-all-btn;
      right: 20 * $oneUnit;
    }
      
  }
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  background-color: transparent;

  .sidebar {
    width: $sidebar-width;
    min-width: $sidebar-width;
    background-color: $blue;
    height: 100%;

    overflow-y: scroll;
    
    &::-webkit-scrollbar {
      display: none;
    }

    .root-archive {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2 * $oneUnit;

      .archivesList {
        
        .archive-style {
          @extend %archive-style;
          a {
            @extend %archive-style;
          }
        }
      }
    }
  }

  .content {
    height: calc(100vh - 100px);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2 * $oneUnit;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
      display: none;
    }

    .archive-style {
      margin-bottom: $oneUnit;
      .data-bar {
        @extend %data-bar;
      }
      .tab-style {
        @extend %tab-style;
        .empty-tab {
          font-size: $text-size;
        }

        .title {
          display: flex;
          flex-direction: row;
          p {
            height: 100%;
            line-height: $bar-height;
            flex: 1;
          }
          input.edit-tab-name-input {
            flex: 1;
            width: 100px;
            height: 80%;
            font-size: $text-size;
          }
          i {
            min-width: 2 * $oneUnit;
            width: 2 * $oneUnit;
            height: 100%;
            line-height: $bar-height;
          }
        }
      }
    }

    .archive {
      position: relative;
      height: auto;
      min-height: $bar-height;

      label {
        .show-indicator {
          position: absolute;
          top: 0;
          left: 0;
          left:  2 * $oneUnit;
          width: calc(10% - 3px);
          height: $bar-height;
          min-width: 90px;
          text-align: center;
          font-size: $title-size;
          line-height: $bar-height;

          i {
            color: $pure-white;
            &:hover {
              cursor: pointer;
            }
          }

          .unfold {
            display: none;
          }
        }
      }

      .archive-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: $bar-height;
        width: 100%;
        background-color:$archive-background;
        display: flex;
        border-radius: 4px;

        .archive-title {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 400px;
          height: $bar-height;

          h3.title-text {
            text-align: center;
            display: block;
            height: $bar-height;
            font-weight: $title-weight;
            text-align: center;
            font-size: $title-size;
            line-height: $bar-height;
            color: $pure-white;
            @extend %unselectable;
            &:hover {
              cursor: pointer;
            }
          }
        }

          .cancel-edit-archive-title-content,
          .confirm-archive-title-content-input,
          .edit-archive-title-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 2 * $oneUnit;
            line-height: $bar-height;
            width: 2 * $oneUnit;
            min-width: 2 * $oneUnit;
            color: $pure-white;
            font-size: $title-size;
            text-align: center;

            &:hover {
              cursor: pointer;
            }
          }

        .cancel-edit-archive-title-content {
          left: 0;
        }

        .confirm-archive-title-content-input,
        .edit-archive-title-content {
          right: 0;
        }

        input.archive-title-input-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          flex: 1;
          height: 80%;
          width: 80%;
          font-size: $text-size;
        }

        .btns {
          position: absolute;
          top: 0;
          display: flex;
          position: absolute;
          right: 2 * $oneUnit;
          height: 100%;
          width: calc(20% - 6px);
          min-width: 180px;
          background-color: transparent;
          display: flex;
          .btn {
            background-color: transparent;
            height: 100%;
            width: 50%;
            button {
              background-color: transparent;
              display: block;
              width: 100%;
              height: 100%;
              border: none;
              outline: none;
              font-size: $text-size;
              color: $pure-white;
              font-weight: $content-weight;
              &:hover {
                background-color: $pure-white;
                color: $archive-background;    
                cursor: pointer;          
              }
            }
          }
        }
      }

      .archive-content {
        margin-top: 52px;
        display: none;
      }

      input.archive-dropdown {
        &:checked ~ .archive-content {
          display: block;
        }

        &:checked ~ label .show-indicator .unfold {
          display: block;
          line-height: $bar-height;
        }
        &:checked ~ label .show-indicator .fold {
          display: none;
        }
      }
    }    
  }
}

.none {
  display: none !important;
}