main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  background-color: #fff;
}

.sidebar {
  width: 240px;
  min-width: 240px;
  background-color: #457b9d;
  height: 100%;
}

.content {
  height: 100%;
}