.navbar {
  background-color: var(--blue);
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar h1 {
  height: 40px;
  width: 240px;
  font-size: 32px;
  font-weight: 700;
  color: var(--pure-white);
  line-height: 100%;
  text-align: center;
}

.search-bar {
  margin-left: 40px;
  height: 40px;
  width: 400px;
  background-color: var(--pure-white);
  padding-left: 24px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.search-bar input {
  height: 100%;
  width: 100%;
  font-size: 24px;
  margin-left: 12px;
  background-color: transparent;
  border: none;
}

.search-bar i,
.search-bar input::placeholder {
  color: var(--light-grey)
}

.search-bar input:focus {
  outline: none;
}
